#root {
  display: grid;
  min-height: 100vh;
}

.appointment-card {
  margin: 10px;
  padding: 10px;

  height: 200px;
  width: 200px;

  border: 2px solid black;

  display: grid;
  align-items: center;
}

.appointment-wrapper {
  border: 2px solid black;

  position: absolute;
  top: 70px;
  right: 70px;
}

.filter-section {
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-items: center;
  height: 25%;
}

.filter-forms-wrapper {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

#technology-form {
  padding: 1rem;

  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;

  border: 2px solid black;
  border-radius: 0.25rem;
}

#search-jobs-form {
  padding: 0.25rem 1rem;

  align-items: center;

  border-radius: 0.5rem;
}

#search-jobs-form input {
  height: 2rem;
  width: 20rem;

  border-radius: 0.25rem;
  border: 2px solid #e4dbdb;
}

.appointments-wrapper {
  position: relative;
}

.appointments-button {
  height: 2rem;
  width: 8rem;

  border: none;
  border-radius: 0.25rem;
  background-color: #e4dbdb;
}

.jobCard {
  border: 2px solid black;
  border-radius: 5px;
  /* margin: 1rem; */
  padding: 0.5rem;
  list-style-type: none;
  /* background-color: rgb(250, 250, 240) */
}

.jobCard h2 {
  font-weight: normal;
  font-size: 16px;
}

.center {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 30px;
}

.technologies_bt_style {
  border: 1px solid rgb(51, 50, 50);
  border-radius: 5px;
  padding: 2px;
}
.div_container {
  display: grid;
  /* grid-template-columns: repeat(2,50px); */
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-bottom: 10px;
}
