#root {
  display: grid;
  min-height: 100vh;
}

.appointment-card {
  margin: 10px;
  padding: 10px;
  height: 200px;
  border: 2px solid black;
  display: grid;
  align-items: center;
  background-color: #efeded;
}

.appointment-wrapper {
  border: 2px solid black;
  margin: 10px;
  background-color: #1b506b;
}

.filter-section {
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  max-height: 300px;
  width: 100px;
}

.filter-forms-wrapper {
  display: grid;
  gap: 1rem;
}

#technology-form {
  padding: 1rem;

  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;

  border: 2px solid gray;
  border-radius: 0.25rem;
  background-color: #1b506b;
  color: white;
}

#search-jobs-form {
  padding: 0.25rem 1rem;
  align-items: center;
  border-radius: 0.5rem;
  display: grid;
}

#search-jobs-form input {
  height: 2rem;
  width: 20rem;

  border-radius: 0.25rem;
  border: 2px solid #e4dbdb;
}

.appointments-wrapper {
  position: relative;
}

.appointments-button {
  height: 2rem;
  width: 8rem;

  border: none;
  border-radius: 0.25rem;
  background-color: #e4dbdb;
}

.jobCard {
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5rem;
  list-style-type: none;
  background-color: #29576e;
  color: white;
  display: grid;
  align-items: center;
  gap: 10px;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
}

.jobCard h2 {
  font-weight: normal;
  font-size: 16px;
}

.center {
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 30px;
}

.technologies_bt_style {
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
}
.div_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-bottom: 10px;
}
.header_class {
  background-image: url(/src/header.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 200px;
}

.main_class {
  display: grid;
  grid-template-columns: 10% 72% 18%;
}

.main_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  order: 2;
}

#search-jobs {
  height: 40px;
  width: 400px;
  margin: 20px auto;
}
.main_appointment {
  order: 3;
  border: 2px dashed black;
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  text-align: center;
}
.book_interview_button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: 1px solid white;
  border-radius: 0.8em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #7db621;
  text-align: center;
  transition: all 0.2s;
}
.book_interview_button:hover {
  background-color: #a4d8e5;
}

.cancel-button {
  background-color: #a4d8e5;
  border: none;
  border-radius: 0.8em;
  padding: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}

.confirm-button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: 1px solid white;
  border-radius: 0.8em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: #7db621;
  text-align: center;
  transition: all 0.2s;
}
.confirm-button:hover {
  background-color: #a4d8e5;
}

.booking-form-container {
  margin-top: 60px;
}
